DATABASE_DASHBOARD_URL= sqlite+aiosqlite:///./dbname
DATABASE_GEOFORM_URL=postgresql+asyncpg://username:password@host:port/dbname
PORT = 
SECRET_KEY = 
ALGORITHM = 
ACCESS_TOKEN_EXPIRE_MINUTES = 
ALLOWED_ORIGINS =
RUN_MODE = "DEVELOPMENT"
ETL_SCHEDULE_HOUR = 
EXCEL_EXPORTS_DIR_PATH  = 